Jupyter para obtener intervalos de tiempo de los puntos para poder generar un heatmap

In [17]:
import pandas as pd
import numpy as np
import json


points = pd.read_csv("../data/device_positions.csv")
points['DATE1'] = pd.to_datetime(points['DATE1'])

points['DOW'] = points['DATE1'].dt.dayofweek

dow = {0: 'Lunes', 1:'Martes', 2:'Miercoles', 3:'Jueves', 4:'Viernes', 5:'Sabado', 6:'Domingo'}
file_name = 'data_'

fieldnames = ("INDEX","ID","LAT","LONG", "DATE1", "DOW")

# print(points.loc[points['DOW'] == 1])
del points['DATE2']   

def write_csv_dow():
    for i in range(7):
        rows = points.loc[points['DOW'] == i]
        rows.to_csv('../data/' + file_name + '{}.csv'.format(dow[i]))
    print('Termine')

write_csv_dow()

points['count'] = np.zeros_like(points['INDEX'])
points_agg_all = points.groupby(['INDEX', pd.Grouper(key='DATE1', freq='10min')]).agg({'count': lambda x: x.count()})

points_agg_all['LAT'] = points['LAT']

points_agg_all
# print(points)

# print(points['serie'])

Termine

                            count  LAT
INDEX  DATE1
1      2016-10-20 22:50:00      1  NaN
2      2016-10-20 23:00:00      1  NaN
3      2016-10-21 01:50:00      1  NaN
4      2016-10-21 02:10:00      1  NaN
5      2016-10-21 02:30:00      1  NaN
6      2016-10-21 02:40:00      1  NaN
7      2016-10-21 02:50:00      1  NaN
8      2016-10-21 03:00:00      1  NaN
9      2016-10-21 10:20:00      1  NaN
10     2016-10-21 12:40:00      1  NaN
11     2016-10-21 16:40:00      1  NaN
12     2016-10-21 21:10:00      1  NaN
13     2016-10-21 21:20:00      1  NaN
14     2016-10-22 11:10:00      1  NaN
15     2016-10-23 04:30:00      1  NaN
16     2016-10-24 19:20:00      1  NaN
17     2016-10-24 21:00:00      1  NaN
18     2016-10-24 21:10:00      1  NaN
19     2016-10-24 21:10:00      1  NaN
20     2016-10-24 21:20:00      1  NaN
21     2016-10-24 22:20:00      1  NaN
22     2016-10-24 22:20:00      1  NaN
23     2016-10-24 22:20:00      1  NaN
24     2016-10-24 22:30:00      1  NaN
25     2016-10-24 22:50:00      1  NaN
26     2016-10-24 23:20:00      1  NaN
27     2016-10-24 23:40:00      1  NaN
28     2016-10-25 01:50:00      1  NaN
29     2016-10-25 01:50:00      1  NaN
30     2016-10-25 01:50:00      1  NaN
...                           ...  ...
275678 2017-09-29 17:30:00      1  NaN
275679 2017-09-29 17:30:00      1  NaN
275680 2017-09-29 17:30:00      1  NaN
275681 2017-09-29 17:30:00      1  NaN
275682 2017-09-29 17:30:00      1  NaN
275683 2017-09-29 17:30:00      1  NaN
275684 2017-09-29 17:40:00      1  NaN
275685 2017-09-29 17:40:00      1  NaN
275686 2017-09-29 17:40:00      1  NaN
275687 2017-09-29 17:40:00      1  NaN
275688 2017-09-29 17:40:00      1  NaN
275689 2017-09-29 17:40:00      1  NaN
275690 2017-09-29 17:40:00      1  NaN
275691 2017-09-29 17:40:00      1  NaN
275692 2017-09-29 17:40:00      1  NaN
275693 2017-09-29 17:40:00      1  NaN
275694 2017-09-29 17:40:00      1  NaN
275695 2017-09-29 17:40:00      1  NaN
275696 2017-09-29 17:40:00      1  NaN
275697 2017-09-29 17:40:00      1  NaN
275698 2017-09-29 17:40:00      1  NaN
275699 2017-09-29 17:40:00      1  NaN
275700 2017-09-29 17:40:00      1  NaN
275701 2017-09-29 17:40:00      1  NaN
275702 2017-09-29 17:40:00      1  NaN
275703 2017-09-29 17:40:00      1  NaN
275704 2017-09-29 17:50:00      1  NaN
275705 2017-09-29 17:50:00      1  NaN
275706 2017-09-29 17:50:00      1  NaN
275707 2017-09-29 17:50:00      1  NaN

[275706 rows x 2 columns]